/* styles/default.css */

/* Basic reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* General body styling */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0E3C7; /* Sand Beige background */
  color: #2D6A4F; /* Forest Green text color */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header styling */
header {
  background-color: #8A8D8F; /* Stone Gray background */
  color: #F0E3C7; /* Sand Beige text color */
  text-align: center;
  padding: 25px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
}

h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
}
/* Link styles */

/* Default state of links */
a {
  color: #2D6A4F; /* Forest Green link color */
  transition: color 0.3s, text-decoration 0.3s; /* Smooth transition */
  text-decoration: none;
}

/* Hover state of links */
a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Visited state of links */
a:visited {
  color: #8A8D8F; /* Stone Gray for visited links */
}

/* Active state of links (when clicked) */
a:active { 
  color: #2D6A4F; /* Forest Green when clicked */
  text-decoration: underline;
}

/* Navigation styling */
nav {
  background-color: #2D6A4F; /* Forest Green background */
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 15px 25px;
  color: #F0E3C7; /* Sand Beige text color */
  text-decoration: none;
  font-size: 1.2em;
  background-color: #2D6A4F; /* Sky Blue for nav items */
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #D67D3D; /* Rich Rust on hover */
  color: #F0E3C7; /* Sand Beige text color */
  text-decoration: underline;
}

/* Navigation link active state */
nav ul li a:active {
  color: #8A8D8F; /* Stone Gray when clicked */
}

main {
  flex: 1; /* This makes the main section take up all available space */
}

img {
  border-radius: 10px;
  margin: 20px;
}

.qr-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qr-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .qr-container img {
      width: 80%; /* Adjust size for smaller screens */
  }
}

@media (max-width: 480px) {
  .qr-container img {
      width: 100%; /* Ensure image takes up full width on very small screens */
  }
}

#qr-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2D6A4F;
  margin: 10px;
}

/* Footer styling */
footer {
  background: #8A8D8F; /* Stone Gray background */
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Pushes the footer to the bottom */
  max-width: 100%;
}

/* Footer link styles */
footer a {
  color: #F0E3C7;
}

footer a:not(:first-of-type) {
  color: #F0E3C7; /* Rich Rust */
  border-left: 2px solid #D67D3D; /* Rich Rust border */
  border-right: 2px solid #D67D3D; /* Rich Rust border */
  padding: 0px 5px;
  display: inline-block;
  max-width: 100%;
}

footer a:visited {
  color: #2D6A4F; /* Forest Green for visited links */
}